@import "../index.scss";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.footer__copy--text {
  color: $text;
  font-size: 1.4rem;
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }
  .footer__copy--text {
    color: $text;
    font-size: 1.8rem;
    margin: 1rem;
  }
}
