$primary: #e4040d;
$background: #04081a;
$secondary: #1f2291;
$text: #c7cefc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background: $background;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "Karla", sans-serif !important;
  font-weight: 700;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $background inset;
  -webkit-text-fill-color: $text;
  box-shadow: 0 0 0 30px $background inset;
  caret-color: $text;
}

::-webkit-scrollbar {
  width: 10px;
  background: $secondary;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: $background;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
  transition: 0.5s;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

textarea {
  resize: none;
}

[id] {
  scroll-margin-top: 25vh;
}

.swal-title {
  color: #f6f6f6 !important;
  font-weight: 600 !important;
  font-size: 2rem !important;
}
