$red: #ee2b47;
$grey: #34374c;
$black: #2c2e3e;
$white: #f6f6f6;
$gradient: linear-gradient(
  to bottom,
  #ee2b47,
  #c12968,
  #863671,
  #4f3861,
  #2c2e3e
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Cambay", sans-serif;
}

body {
  background: $grey;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Big Shoulders Display", cursive;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $grey inset;
  -webkit-text-fill-color: $white;
  box-shadow: 0 0 0 30px $grey inset;
  caret-color: $white;
}

::-webkit-scrollbar {
  width: 10px;
  background-image: $gradient;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-image: $gradient;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-image: $gradient;
  transition: 0.5s;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-image: $gradient;
}

textarea {
  resize: none;
}
